<header class="header">
    <div class="headerDiv">
        <div class="logo">
            <a href="index.html"><img src="./img/POUI.png" alt="logo de marca"></a>
        </div>

        <button class="menu-toggle">☰</button>

        <nav>
            <ul class="nav-links">
                <li><a href="/catalogo">Catálogo</a></li>
                <li><a href="/formulario">Contacto</a></li>
                <li><a href="/quienesomos">¿Quiénes somos?</a></li>
            </ul>
        </nav>
    </div>
</header>

<script src="../js/navbar.js"></script>